@page "/profile"

<style>
     body{
     }
     .navbar{
          width:100%;
          margin-top: 0px;
          padding-left: 5px;
          padding-top: 6px;
          background-color: #CEDEBD;
          position: sticky;

     }
     .navbar li{
          display: inline-block;
          width: 13%;
     }

     .navbar h3{
          padding-top: 10px;
     }
     .navbar h4{
          padding-top: 5px;
          padding-right: 3px;
     }
     .navbar img{
          padding-right: 3px;
          display: inline;
          float: left;
     }
</style>
<div class="navbar">
     <li> <h3><b> BASAKITA </b></h3> </li>
     <li> <img src="https://cdn.discordapp.com/attachments/990635109147361361/1154288088944758786/user.png" alt="" width="40px" height="40px">
     <h4> Username </h4>
     </li>
     
     
</div>




@code {

}
